<mat-toolbar color="primary">
  <span>Spacestagram</span>
  <div fxHide.lt-md>
    <span class="column-label">Columns</span>
    <mat-slider [max]="6" [min]="3" [thumbLabel]="true" [(ngModel)]="gridColumns"></mat-slider>
  </div>
</mat-toolbar>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="12px" grid>
    <div *ngFor="let photo of responseObject.photos; let i = index" [fxFlex]="(100/(gridColumns + 0.6)) + '%'"
      fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card class="mat-elevation-z4">
        <!--
        <mat-card-header>
          <mat-card-title>{{photo.id}}</mat-card-title>
        </mat-card-header>
        -->
        <img mat-card-image src="{{photo.img_src}}" alt="NASA Photo">
        <mat-card-content>
          <p>{{photo.rover.name}} rover - {{photo.camera.full_name}}</p>
          <p>{{photo.earth_date}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="clickToShare(responseObject.photos[i].img_src)">
            <span class="material-icons">
              share
            </span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
